/*****************************************************************************/


/*
/* Common
/*
/*****************************************************************************/


/* Global Reset */

* {
  margin: auto;
  padding: 5px;
  /*color:#000;*/
}

html, body {
  width: auto;
}

body {
  background-color: #ddd;
  /*background-image: url('/images/pattern_1.png');
  background-repeat:repeat;
  background-attachment:fixed;*/
  font: 13.34px "Lato", serif;
  font-size: normal;
  text-align: center;
}

h3, h4, h5, h6 {
  font-size: 100%;
}

h1 {
  /*margin-bottom: 1em;*/
  margin-top: 1em;
}

p {
  margin: 1em 0;
}

a {
  color: #224;
}

a:hover {
  color: #22f;
  text-decoration: none
}

a:visited {
  color: #224;
}


/*****************************************************************************/


/*
/* Home
/*
/*****************************************************************************/

.tabber {
  margin-left: 1%;
}

.posts {
  list-style-type: none;
  margin-bottom: 2em;
  display: block;
}

.posts li {
  line-height: 1.75em;
  color: inherit
}

div.fillbg {
  background-color: #eee;
  text-decoration: none;
  color: #111;
  padding: 15px;
}

div.fillbg:hover {
  background-color: #444;
  color: #ddd;
}

a.fillbg {
  text-decoration: none;
  padding: 0px;
}

a.fillbg:hover {
  color: #222;
}


/*.posts li a:hover{
	text-decoration: none;
	font-family:'Droid Sans';
	}
.posts li a:link{
	font-family:'Droid Sans';
	}
.posts li a:visited{
	font-family:'Droid Sans';
	}
*/

.posts span {
  color: inherit;
  position: relative;
  ;
  ;
  font-size: 100%;
}


/*****************************************************************************/


/*
/* Site
/*
/*****************************************************************************/

.site {
  font-size: 115%;
  text-align: justify;
  /*width: 80%;
  margin-left: 1em;*/
  margin: 3em auto 2em;
  line-height: 1.5em;
  border-radius: 5px;
  margin-top: 4em;
}

.header {
  border-radius: 5px;
  display: inline-block;
  /*margin-top: -3em;
  position: fixed;*/
}

.header a {
  font-weight: bold;
  text-decoration: none;
}

.title {
  display: inline-block;
  margin-bottom: .5em;
}

.title a {
  color: #a00;
  border-radius: 5px;
}

.title a:hover {
  color: #000;
  background-color: #eee;
}

.header a.extra {
  color: #aaa;
  margin-left: 1em;
}

.header a.extra:hover {
  color: #000;
  background-color: #eee;
}

.meta {
  color: #222;
  border-radius: 5px;
  ;
  ;
  /*color: #cde;*/
  font-size: 100%;
  margin-left: 4em;
  float: right;
}

.tags {
  display: inline;
  position: absolute;
  float: left;
}

.tag {
  display: inline;
  font-size: small;
  border: 1px solid #333;
  border-radius: 4px;
  background-color: #eee;
}

.spacer {
  margin-top: 20px;
  margin-bottom: 20px;
}

.footer {
  font-size: 80%;
  border-top: 4px solid #eee;
  margin: auto;
  margin-top: 2em;
  overflow: hidden;
  border-radius: 5px;
  /*background-color: #111;
  color:#eee;*/
}

.footer .contact {
  //float: left;
  margin: auto;
}


/*.footer .contact a:link, .footer .contact a:visited {
  color: #eee;

}

.footer .contact a:hover{
  color: #808500;

}
*/

.footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em; //float: center;
}

.footer .rss img {
  border: 0;
}

img {
  width: 100%;
}

blockquote {
  border-left: #ccc solid;
}

blockquote p {
  margin-top: 0em;
}
#icons {
  display: block;
  padding: 5px;
}

#icons a img {
  opacity: 1;
}

#icons a:hover img {
  opacity: 1;
  background-color: rgba(200, 200, 200, 0.5);
  box-shadow: 0px 0px 5px #444;
}

.footer p.cntr {
  margin: 0em auto;
}


/*****************************************************************************/


/*
/* Posts
/*
/*****************************************************************************/

.post pre {
  border: 2px solid #444;
  background-color: #eee;
  padding: 1px;
  margin: 0 auto;
  width: auto;
  word-wrap: break-word;
  overflow: auto;
}

.post ul, .post ol {
  margin-left: .5em;
}

.post code {
  border: 1px solid #444;
  background-color: #eee;
  padding: 0px;
}

.post pre code {
  border: none;
}


/* terminal */

.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}


/*
Editted CSS
*/

.headbar {
  margin-top: -4em;
  text-align: center;
  width: 100%;
  position: relative;
}

.headbar h1 {
  font-family: "Cantarell";
  margin-bottom: 1em;
}

.group {
  box-shadow: 0px 0px 10px #111;
  padding: 0px;
}

.navbar {
  padding: 0px;
  background-color: #eee;
  color: #111;
  margin-top: 5px;
  text-align: center;
  position: relative;
}

.navbar a {
  padding-right: 5px;
  padding-left: 5px;
  display: inline-block;
  text-decoration: none;
  color: #555;
}

.navbar a:hover {
  background-color: #ddd;
  color: #444;
  box-shadow: 0px 0px 5px #777;
}

.navbar a:visited {
  color: #555;
}

#container {
  height: 100%;
  line-height: 100px;
  text-align: center;
}

#container img {
  vertical-align: middle;
  max-height: 100%;
  max-width: 75%;
}

.newfont {
  font-family: 'Ropa Sans';
}

.projects dl dt {
  font-weight: bold;
  font-size: 1.1rem;
}

.projects dl dd {
  font-size: 0.8rem;
}


/* For Mobile Viewing..********************************************************/

@media screen and (min-width: 480px) {
  body {
    zoom: 0.8;
  }
}

@media screen and (min-width: 680px) {
  body {
    zoom: 0.9;
    width: 680px;
  }
  header {
    margin: 0;
  }
  footer {
    margin: 5% 0;
  }
}

@media screen and (min-width: 780px) {
  body {
    zoom: 1.3;
  }
}


/* Share Buttons */

.sharebuttons div {
  display: inline-block;
  /*text-align:right;*/
  /*float: left;*/
}


/*Flip*************************************************************************/


/* entire container, keeps perspective */

.flip-container {
  perspective: 1000;
  -webkit-perspective: 1000;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
}


/*  UPDATED! flip the pane when hovered */

.flip-container:hover .back {
  transform: rotateY(0deg);
  -webkit-transform: rotateY(0deg);
}

.flip-container:hover .front {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
}

.flip-container, .front, .back {
  width: 320px;
  height: 150px;
}


/* flip speed goes here */

.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
  -webkit-transition: 0.6s;
  -webkit-transform-style: preserve-3d;
  position: relative;
}


/* hide back of pane during swap */

.front, .back {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  transition: 0.6s;
  transform-style: preserve-3d;
  -webkit-transition: 0.6s;
  -webkit-transform-style: preserve-3d;
  position: absolute;
  top: 0;
  left: 0;
}


/*  UPDATED! front pane, placed above back */

.front {
  z-index: 2;
  transform: rotateY(0deg);
  -webkit-transform: rotateY(0deg);
}


/* back, initially hidden pane */

.back {
  transform: rotateY(-180deg);
  -webkit-transform: rotateY(-180deg);
}


/*
  Some vertical flip updates
*/

.vertical.flip-container {
  position: relative;
}

.vertical .back {
  transform: rotateX(180deg);
  -webkit-transform: rotateX(180deg);
}

.vertical.flip-container:hover .back {
  transform: rotateX(0deg);
  -webkit-transform: rotateX(0deg);
}

.vertical.flip-container:hover .front {
  transform: rotateX(180deg);
  -webkit-transform: rotateX(180deg);
}


/*
An Improvement!
LOGO at the top uses it..
*/

.dark {
  padding: 5px;
  display: inline;
  background-color: #111;
  color: #ddd;
}


/*.dark:hover{
  background-color:#eee;
  color:#111;
}*/

.light {
  padding: 5px;
  display: inline;
  background-color: #ddd;
  color: #111;
}


/*.light:hover{
  background-color:#111;
  color:#eee;
}
*/
