---
layout: default
title: Home
---

<div id="home">
  <h2>Blog Posts</h2>
  <div class="tabber">
  <ul class="posts">{% for post in site.posts limit:10 %}{% if post.display == true %}<a class="fillbg" href="{{ post.url }}" >
    <div class="fillbg">
      <li><b>{{ post.title }}:</b> {% if post.status == "beta" %} <span style="color:red">Beta</span> {% endif %}
      <span>{{ post.description }}
    <span style="float:right; color:#777; padding:0px; font-size:10px">{{ post.date | date: "%d/%m/%Y" }}<br /><br /></span></span></li>
    </div></a>
    {% endif %}{% endfor %}
  </ul>
  </div>
</div>
