<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }} - {{site.name}} </title>
    <meta name="viewport" content="width=device-width">
    {% if page %}
      <meta name="blog:title" content="{{page.title}}">
      <meta name="blog:author" content="{{page.author | default: 'Darshil Chanpura' }}">
      <meta name="blog:published_date" content="{{ page.date | default: 0 | date_to_xmlschema  }}">
    {% endif %}
    <link href='/feed.xml' rel='alternate' type='application/rss+xml'>
    <meta name="description" content="Hello everyone! I am Darshil
    Chanpura, a geek who is into many things related to many different
    platforms. I have been working with Raspberry Pi recently and some
    of the posts are like projects and are really interesting do try
    them.">
    <!-- syntax highlighting CSS -->
    <link rel="stylesheet" href="/css/syntax.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/main.css" media="screen">
    <link rel="stylesheet" href="/css/fonts.css">
    <!-- px snippet head -->
    <link rel="stylesheet" type="text/css" href="//px.dcpri.me/px/px.css">
    <script type="text/javascript" src="//px.dcpri.me/px/px.js"></script>
    <!-- px snippet head end -->
  </head>
  <body>
    <div class="site">
      <div class="headbar">
        <h1><span class="group"><div class="dark">DCPrime's</div><div class="light">Blog</div></span></h1>
        <div class="navbar">
          <a href="/">Blog</a>
          <a class="extra" href="/about">About</a>
          <!--<a class="extra" href="/resume/">Resume</a>-->
          <a class="extra" href="/projects">Projects</a>
          <br />
        </div>
      </div>
      {{ content }}
      <div class="footer">
        <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
          <div class="flipper">
            <div class="front">
              <div class="contact">
                <center width=200px>Darshil Chanpura<br />Developer:Designer<br />dcprime314@gmail.com</center>
              </div>
            </div>
            <div class="back">
              <div class="contact" id="icons">
                <center width=200px>
                <a href="mailto:dcprime314@gmail.com"><img src="/logo/gmail-512.png" width=48 alt="Mail to dtchanpura" /></a>
                <a href="https://github.com/dtchanpura"><img src="/logo/github.png" width=48 alt="Github @dtchanpura" /></a>
                <!--<a href="http://google.com/+DarshilChanpura"><img src="/logo/google.png" width=48 alt="Google +Darshil Chanpura" /></a><br />-->
                <a href="https://twitter.com/dtchanpura"><img src="/logo/twitterICO.png" width=48 alt="Follow @dtchanpura" /></a>
                <!--<a href="http://facebook.com/dtchanpura"><img src="/logo/facebook.png" width=48 alt="Facebook/dtchanpura" /></a>-->
                <!--<a href="irc://irc.freenode.net/dcprime"><img src="/logo/irclogo.png" width=48 alt="IRC #dcprime"/></a>-->
                </center>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
        <!-- px snippet -->
    <img id="px" src="data:image/png;base64,px" onerror="pxMain()">
    <div id="pxPopUp"></div>
    <!-- px snippet end -->
  </body>
</html>
