---
layout: default
---
<h2>{{ page.title }}</h2>
<div class="meta">
Published on {{ page.date | date_to_string }}
</div><br>
<div class="post">
{{ content }}
</div>

<div class="sharebuttons">
<!-- Twitter -->
<div style="float:right">
<a href="https://twitter.com/share" class="twitter-share-button" data-via="dtchanpura" data-hashtags="DCprime">Tweet</a>
<script>
!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
</script>
</div>
<!-- Facebook<div class="fb-share-button" data-type="button_count" data-annotation=inline></div>
-->

<!-- Google Plus -->
<div style="float:left;">
	<script type="text/javascript" src="https://apis.google.com/js/platform.js"></script>
	<div class="g-plusone" data-size="medium" data-annotation="bubble"></div>
</div><br>
</div>
